{% extends 'main/layout.html' %}

{% block title %}Page contacts{% endblock  %}

{% block content %}
  <div class="features">
    <h1 class="page_title" style="background-color:rgb(23, 172, 171); color:yellow;">PAGE Contacts</h1>
    <p style="color:DodgerBlue;">Royal Guard of Balaklava Company, 5th Battalion of The Royal Regiment of Scotland, marched back to barracks in Ballater, Scotland, in August 2024. The march was led by The Pipes and Drums of The Royal Corps of Signals, playing Cock o' the North and Campletown Loch.
            Following the Pipes and Drums were the The Band of The Royal Regiment of Scotland, then the Shetland pony, Corporal Cruachan IV, mascot of The Royal Regiment of Scotland. The Royal Guard of Balaklava Company were under the command of Major Neil Cargill and this was as they marched through Ballater making their way back to barracks.
            #balaklavacompany #royalguard #royalregimentofscotland #scotland #marchingbandpage contacts</p>

    <a  href="https://www.instagram.com/paul_watt_photography/" target="_blank" ><button class="btn btn-success"> GO on PAUL WATT page</button></a>
  </div>
{% endblock  %}